<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Contact us</title>
    <link rel="stylesheet" href="/contactus.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1>Connect With Us</h1>
      <p>
        We would love to respond to your queries and help you succeed. Feel free
        to get in touch with us.
      </p>
      <div class="contact-box">
        <div class="contact-left">
          <h3>Sent your request</h3>
          <form action="/submit" method="post">
            <div class="input-row">
              <div class="input-group">
                <label>Name</label>
                <input type="text" name="name" placeholder="Enter Name" />
              </div>
              <div class="input-group">
                <label>Phone</label>
                <input type="text" name="phone" placeholder="Mobile No." />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Email</label>
                <input type="email" name="email" placeholder="Your Email ID" />
              </div>
              <div class="input-group">
                <label>Subject</label>
                <input type="text" name="subject" placeholder="feedback" />
              </div>
            </div>
            <label>Message</label>
            <textarea
              name="message"
              rows="5"
              placeholder="Your Message"
            ></textarea>
            <button type="submit">SEND</button>
          </form>
        </div>
        <div class="contact-right">
          <h3>Reach us</h3>
          <table>
            <tr>
              <td>Email</td>
              <td>contactus@example.com</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>+1 123 456 7890</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                #212, Ground floor, 7th cross<br />some layout, Some
                Road,Koromangla<br />Bengaluru 560001
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>
      document
        .getElementById("contactForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent default form submission

          // Display a message
          alert("Form submitted successfully!");
        });
    </script>
  </body>
</html>
