<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Details Form</title>
    <link rel="stylesheet" href="profile_det_client.css" />
  </head>
  <body>
    <div class="container">
      <h1>Fill your details to start!</h1>
      <form action="/send_client_details" method="POST">
        <div class="form-group">
          <div class="input-group">
            <label for="organisation_name">Organisation Name:</label>
            <input
              type="text"
              id="organisation_name"
              name="organisation_name"
              placeholder="enter your organisation name"
              required
            />
          </div>
        </div>
        <div class="heading">CONTACT</div>
        <div class="contact">
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="enter your email address"
              required
            />
          </div>
          <div class="form-group">
            <label for="phone">Phone Number:</label>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="enter your phone number"
            />
          </div>
        </div>
        <div class="heading">ADDRESS</div>
        <div class="form-group">
          <textarea
            id="address"
            name="address"
            rows="4"
            placeholder="enter your address"
          ></textarea>
        </div>
        <div class="job-details">
          <h3>ORGANISATION BIO</h3>
          <label for="bio">write the bio for your company:</label>
          <div class="form-group">
            <textarea
              id="org_address"
              name="org_address"
              rows="4"
              placeholder="enter your organisation address"
            ></textarea>
          </div>
          <div class="input-group">
            <label for="experience">Years of Experience:</label>
            <input
              type="text"
              id="experience"
              name="experience"
              placeholder="enter years of experience/enter 'nil'"
            />
          </div>
        </div>
        <input type="submit" value="SUBMIT" />
      </form>
    </div>
  </body>
</html>
