<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vacancy Posted</title>
    <link href="vacancy_confirmation.css" rel="stylesheet" />
  </head>
  <body>
    <h1>VACANCY SUCCESSFULLY POSTED!</h1>
  </body>
</html>
