<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>navbar</title>
    <link rel="stylesheet" href="/navbar.css" />
  </head>
  <body>
    <div class="nav">
      <header>
        <nav class="navigation">
          <h1 class="app_name">OPPORTUNA</h1>
          <a href="home_page.html" id="home" class="active">Home</a>
          <a href="about_page.html" id="about">About</a>
          <a href="contributions_page.html" id="contributions">contributions</a>
          <a href="getin_page.html" class="getin">REGISTER</a>
          <a href="administrator_page.html" id="administrator">administrator</a>
        </nav>
      </header>
    </div>
    <script>
      const links = document.querySelectorAll(".navigation a");

      links.forEach((link) => {
        link.addEventListener("click", function (e) {
          e.preventDefault();
          const page = this.getAttribute("href");
          window.location.href = page;
        });
      });
    </script>
  </body>
</html>
